*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/caches/resolve_glance.xml
/.idea/codeStyles/Project.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/dictionaries
/.idea/gradle.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/libraries/
/.idea/migrations.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/modules/
/.idea/navEditor.xml
/.idea/vcs.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
debug.keystore.base64
